@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

#form_newnote {
    width: 30%;
    margin: auto auto;
}

@media only screen and (max-width: 768px) {
    #form_newnote {
        width: 70%;
        margin: auto auto;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #form_newnote {
        width: 50%;
        margin: auto auto;
    }
}

@media only screen and (min-width: 1024px) {
    #form_newnote {
        width: 30%;
        margin: auto auto;
    }
}

.hr {
    width: 80%; 
    margin: 30px auto;
}
